
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#bond {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f3f3b5;
  color: #66cdaa;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 400%;
  border: 3px solid #ffb793;
  box-shadow: -6px 11px 15px 5px #ffb793;
}

.category-bold {
  font-weight: bold;
}

.bond col {
  margin: 10px;
}


.btn {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color:#0a0a23;
  border: 2px solid #d8e4d4;
  color: #fff;

}

#btnn {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color:#0a0a23;
  border: 2px solid #d8e4d4;
  color: #fff;

}

#buttons a, #buttons button {
  font-family: 'Poppins', sans-serif;
  display: flex;
  text-decoration: none;
  justify-content: center;
  width: 40%;
  border-style: none;
  cursor: pointer;
  background-color: #66cdaa;
  border: 2px solid #d8e4d4;
  color: #fff;
  padding: 14px 32px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 500;
  transition: all .1s ease-in-out;
}


.bonds-column {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.bonds-center {
  display: flex;
  justify-content: center;
}

.btn:hover {
  border-bottom: 2px solid #ffb793;
}

#back_button {
  width: fit-content;
  white-space: nowrap;
}

#signout_button {
  margin-right: 10%;
  width: fit-content;
  white-space: nowrap;
}

#navbar_buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 10%;
  width: fit-content;
}

.navbar-text {
  font-size: 24px;
}

.navbar-brand {
  font-size: 40px !important;
}


#register, #login {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  height: 500px;
  width: 30%;
  background-color: #66cccc;
  border-radius: 20px;
  border: 3px solid #66cdaa;
  box-shadow: -6px 11px 15px 5px #66cdaa;
}

#register h1, #login h1 {
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}


#form-container {
  width: 80%;
  position: relative;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}

#form-container label {
  font-family: 'Poppins', sans-serif;
  color: rgb(3, 4, 4);
  font-size: 20px;
}

#form-container input {
  margin-top: 10px;
  border-radius: 16px;
  background-color: #295151;
  font-size: 20px;
  color: white;
  padding: 4px 8px;
}

#form-container input:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: '';
      background-size: 100% 100%;
      background-position: center;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #4d5282;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.form_container {
  margin-top: 20px;
}

#form-title{
  color: #092f37;

}

.login_btn {
  width: 100%;
  max-width: 200px;
  background: #accee0 !important;
  color: rgb(50, 58, 117) !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #00085e !important;
  color: rgb(130, 113, 151) !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.links a {
    color: #06261d;
  }

.back_btn {
  width: 100%;
  max-width: 200px;
  margin-left: 20px;
  background: #accee0 !important;
  color: rgb(50, 58, 117) !important;
}


/* CSS */
#button-55 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-55:hover,
#button-55:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#button-55:active {
  background: var(--color);
  color: #fff;
}

body {
  background-color: #f5f5f5;
}

.list-bonds {
  padding: 20px;
}

.bonds-center {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(114, 103, 103, 0.1);
  overflow: hidden;
}

.bond-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#bond {
  margin-bottom: 20px;
  background-color: #070404;
  border: 1px solid #1c4448;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(143, 120, 120, 0.1);
  padding: 10px;
}

.cardHover:hover {
  color: #111b27;
  cursor: pointer;
}

.category-bold {
  margin-top: 10px;
}

.more {
  background-color: #007bff;
  border-color: #007bff;
}

.less {
  background-color: #512b2e;
  border-color: #dc3545;
}

.expanded {
  height: auto;
}

.collapsed {
  height: 150px;
  overflow: hidden;
}